<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
   <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-key"></i>
     Apartment Number: {{info.aptNum}}
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon fa fa-bed"></i>
     Bedrooms: {{info.bedrooms}}
  </a>
   <a class="item item-icon-left" href="#">
    <i class="icon fa fa-money"></i>
     Rent: ${{info.rent}}
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-waterdrop"></i>
     Bathrooms: {{info.bathrooms}}
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon fa fa-object-ungroup"></i>
     Square Feet: {{info.sqrfoot}}
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon fa fa-check"></i>
     Available: {{info.isAvailable}}
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-people"></i>
     Tenants: {{info.tenants.join(", ")}}
  </a>
<button class="button button-block button-positive" ng-if="checkButton()" ng-click="apply()">Apply for Apartment</button>
<button class="button button-block button-assertive" ng-if="applied">Applied</button>



</div>
  </ion-content>
</ion-view>
