<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input" ng-show="newOne ===true">
                <input type="text" placeholder="Full Name" ng-model="data.fullName">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input" ng-show="newOne ===true">
                <input type="password" placeholder="Confirm Password" ng-model="data.confirmPassword">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login()" ng-hide="newOne ===true">Login</button>
        <button class="button button-block button-positive" ng-click="newAccount()" ng-hide="newOne === true">New Account</button>
        <button class="button button-block button-royal" ng-click="createAccount()" ng-show="newOne === true" ng-disabled="checkInput() === false">Create Account</button>
    </ion-content>
</ion-view>
