<ion-view view-title={{property}}>
<ion-content class="padding">
 <div class="list card">

  <div class="item item-avatar">
    <img src="http://media.salon.com/2015/02/craig_stephen_hicks.jpg">
    <h2>Manager: Marty McFly</h2>
    <p><i class="icon fa fa-phone"> (310) 423-1232</i></p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://apps.startribune.com/blogs/user_images/janetmoore_1382463677_City%20Apartments.jpg ">
    <p>
      3420384 Frank Road
      Boston, MA 92094
    </p>

  </div>
</div>
 
   <div class="list">

<a class="item item-thumbnail-left" href="#"  ng-repeat="apt in apartments" ng-click="click(apt._id)">
   <img src="{{apt.picture}}">
   <h2>Apartment: {{apt.aptNum}}</h2>
    <i class="icon fa fa-group"></i> {{apt.tenants.length}}
   
   </a>
   


</div>

  </ion-content>
</ion-view>
