/* Empty. Add your own CSS if you like */
#display{
  background-image: url("https://static.pexels.com/photos/356/city-road-street-buildings.jpg");
  background-size: cover;
};

.top{
  top: 50%;
  position: relative;
}
.managerLabel {
  margin-top: 5.5px;
  margin-right: 10px;
  font-size: 120%;
}
