<!-- <div class="jumbotron text-center">
  <h1>Login Here</h1>
  <h3>{{message}}</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Email:</label>
      <div class="col-sm-4">
        <input autofocus class="form-control" ng-model="user.name" placeholder="Pikachu" type="text" id="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="kind">Password:</label>
      <div class="col-sm-4">
        <input class="form-control" ng-model="user.password" placeholder="Electric" type="password" id="type">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-success btn-block" ng-click="add(pokemon)" type="submit">Login</button>
      </div>
    </div>
  </form>
</div> -->
