
<!--
  <div class="form-group">
    <label class="sr-only" for="email">Email address:</label>
    <input class="form-control" id="email" type="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="pwd">Password:</label>
    <input class="form-control" id="pwd" type="password">
  </div>
  <button class="btn btn-default" type="submit">login</button> -->

  <div class="jumbotron text-center">
    <h1>Login Here</h1>
    <h3>{{message}}</h3>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-4" for="name">Email:</label>
        <div class="col-sm-4">
          <input autofocus class="form-control" ng-model="user.email" placeholder="name@codinghouse.co" type="text" id="name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="kind">Password:</label>
        <div class="col-sm-4">
          <input class="form-control" ng-model="user.password" placeholder="Password" type="password" id="type">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button class="btn btn-success btn-block" ui-sref="manage" type="submit">Login</button>
          <button class="btn btn-primary btn-block" ui-sref="register" type="submit">Create an Account</button>
        </div>
      </div>
    </form>
  </div>
